<div class="like-button">
  <% if (note.currentUserLike()) { %>
      取消喜欢
      <i class="fa fa-thumbs-o-down"></i>
  <% } else { %>
      喜欢
      <i class="fa fa-thumbs-o-up"></i>
  <% } %>
</div>
