<div class="comment-form">
  <div class="comment-list-text">
    <i class="fa fa-comment"></i>&nbsp;
    新建注释
  </div>
  <form class="comment">
    <input type="hidden" name="comment[note_id]" value="<%= note.get("id") %>">

    <textarea name="comment[body]"></textarea>

    <button type="submit" class="comment-button submit">
      提交
    </button>
    <button class="comment-button cancel">
      取消
    </button>
  </form>
</div>
