<span class="modal-x close-modal">&times;</span>

<h3>
  删除笔记
</h3>

<form class="note group">

  <div class="input">
      你确定要删除该笔记吗?
  </div>

  <div class="form-right group">
    <div class="cancel close-modal">
      取消
    </div>

    <div class="submit">
      <input type="submit" value="Confirm">
    </div>
  </div>
</form>
