<span class="modal-x close-modal">&times;</span>

<h3>
  删除标签
</h3>

<form class="tag group">

  <div class="input">
    <label for="tag-name">确定要删除该标签吗?</label>
  </div>

  <div class="form-right group">
    <div class="cancel close-modal">
      取消
    </div>

    <div class="submit">
      <input type="submit" value="Confirm">
    </div>
  </div>
</form>
